In [2]:
import os
import requests
import json
cwd = os.getcwd()

import matplotlib.pyplot as plt
from matplotlib import rcParams
import matplotlib as mpl
import seaborn as sb
import numpy as np
import pandas as pd
from pandas import Series
import zipfile
from bs4 import BeautifulSoup
import re
from IPython.display import Image
from IPython.core.display import HTML 
from pandas import DataFrame, Panel

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
rcParams['figure.figsize'] = 10, 10
sb.set_style('whitegrid')


pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

pd.set_option('display.max_rows',15) # this limit maximum numbers of rows

with zipfile.ZipFile("pisa2012.csv.zip","r") as myzip:
    myzip.extractall("pisa2012")

dataframe = pd.read_csv(cwd + '/pisa2012/pisa2012.csv', encoding = 'utf-8', low_memory=False)

dataframe.head()

df=dataframe.copy()

 %reset dataframe

In [15]:
df[['ST57Q02','ST57Q03', 'ST57Q04']].describe()

             ST57Q02        ST57Q03        ST57Q04
count  269808.000000  283813.000000  279657.000000
mean        1.623629       0.954044       0.911821
std         2.591569       2.162574       2.362377
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         1.000000       0.000000       0.000000
75%         2.000000       1.000000       1.000000
max        30.000000      30.000000      30.000000

## Question 1

Filter those with Comercial company help and those with Personal tutor

In [24]:
# Plausible value 1 in reading
df['PV1READ'].describe()

count    485490.000000
mean        472.004640
std         102.505523
min           0.083400
25%         403.600700
50%         475.455000
75%         544.502500
max         904.802600
Name: PV1READ, dtype: float64

In [25]:
# Plausible value 1 in mathematics
df['PV1MATH'].describe()

count    485490.000000
mean        469.621653
std         103.265391
min          19.792800
25%         395.318600
50%         466.201900
75%         541.057800
max         962.229300
Name: PV1MATH, dtype: float64

In [23]:
# Plausible value 1 in science
df['PV1SCIE'].describe()

count    485490.000000
mean        475.769824
std         101.464426
min           2.648300
25%         404.457300
50%         475.699400
75%         547.780700
max         903.338300
Name: PV1SCIE, dtype: float64

In [22]:
# FINAL STUDENT WEIGHT
df['W_FSTUWT'].describe()

count    485490.000000
mean         50.919113
std         107.382092
min           1.000000
25%           6.386300
50%          15.782900
75%          44.473300
max        2597.884400
Name: W_FSTUWT, dtype: float64

In [28]:
df['ST14Q01'].value_counts()

No     365418
Yes     25063
Name: ST14Q01, dtype: int64

In [31]:
df['ST13Q01'].value_counts()

<ISCED level 3A>                         236993
<ISCED level 3B, 3C>                      83048
<ISCED level 2>                           82614
<ISCED level 1>                           36556
She did not complete <ISCED level 1>      18768
Name: ST13Q01, dtype: int64

In [41]:
# Highest parental occupational status
df['HISEI'].value_counts()

82.41    11651
76.49     9849
68.70     8540
76.65     8206
28.48     7933
43.33     7810
35.34     7360
         ...
31.34       26
31.00       25
25.49       23
16.08       21
22.40       21
29.30        8
18.29        7
Name: HISEI, Length: 419, dtype: int64

In [33]:
# Highest parental occupational status
df['HISEI'].describe()

count    450621.000000
mean         48.923298
std          22.120953
min          11.010000
25%          28.520000
50%          48.820000
75%          70.340000
max          88.960000
Name: HISEI, dtype: float64

In [35]:
# Educational level of father (ISCED)
df['FISCED'].value_counts()

ISCED 3A, ISCED 4    118890
ISCED 5A, 6          113406
ISCED 2               66728
ISCED 5B              61617
ISCED 3B, C           39789
ISCED 1               35938
None                  16535
Name: FISCED, dtype: int64

In [36]:
# Educational level of mother (ISCED)
df['MISCED'].value_counts()

ISCED 3A, ISCED 4    126768
ISCED 5A, 6          114452
ISCED 5B              68219
ISCED 2               66650
ISCED 1               36556
ISCED 3B, C           35672
None                  18768
Name: MISCED, dtype: int64

In [48]:
# Immigration status
df['IMMIG'].value_counts()

Native               417347
Second-Generation     28268
First-Generation      26178
Name: IMMIG, dtype: int64

In [51]:
# WEALTH
df['WEALTH'].value_counts()

-0.11    8390
 0.16    6445
 0.15    6420
-0.36    6277
 1.20    5953
 0.43    5670
 0.31    5578
         ...
 2.25       1
-4.01       1
 2.55       1
-4.59       1
 2.75       1
 2.64       1
-3.36       1
Name: WEALTH, Length: 809, dtype: int64

In [50]:
df['WEALTH'].describe()

count    479597.00000
mean         -0.33701
std           1.21530
min          -6.65000
25%          -1.04000
50%          -0.30000
75%           0.43000
max           3.25000
Name: WEALTH, dtype: float64

In [58]:
mydf = df[['CNT', 'OECD', 'STIDSTD', 'ST04Q01', 'ST11Q01', 'ST11Q02',
    'ST11Q03', 'ST11Q04', 'ST11Q05', 'ST11Q06', 'MISCED', 'FISCED', 'HISCED',
    'HISEI', 'IMMIG', 'ST46Q09', 'WEALTH', 'ST57Q02', 'ST57Q03', 'ST57Q04',
    'PV1READ', 'PV1MATH', 'PV1SCIE', 'W_FSTUWT']]
mydf.size

11651760

In [173]:
data = mydf.copy()

NameError: name 'mydf' is not defined

In [61]:
data.columns = ['country', 'OECD', 'STIDSTD', "gender", "H_mother", "H_father", "H_brothers","H_sisters",
              "H_grandparents","H_others", "ed_mother","ed_father", "highest_edu","highest_occu", "IMMIG","organized",
              "WEALTH","guided_homework", "tutor","commercial_company", "read_score", "math_score", "sci_score", "WEIGHT"]

In [161]:
data.head()

   record_id  country      OECD  STID  gender H_mother H_father          ed_mother          ed_father        highest_edu  highest_occu   IMMIG  WEALTH  guided_omework  tutor  commercial_company  read_score  math_score  sci_score  WEIGHT    readscore    mathscore     sciscore  parent_athome  sibling_athome
0          0  Albania  Non-OECD     1  Female      Yes      Yes  ISCED 3A, ISCED 4  ISCED 3A, ISCED 4  ISCED 3A, ISCED 4           NaN  Native   -2.92             NaN    NaN                 NaN    249.5762    406.8469   341.7009  8.9096  2223.624112  3624.843140  3044.418339           True            True
1          1  Albania  Non-OECD     2  Female      Yes      Yes        ISCED 5A, 6  ISCED 3A, ISCED 4        ISCED 5A, 6           NaN  Native    0.69             NaN    6.0                 0.0    406.2936    486.1427   548.9929  8.9096  3619.913459  4331.337000  4891.307142           True            True
2          2  Albania  Non-OECD     3  Female      Yes      Yes        ISCED 5A, 6        ISCED 5A, 6        ISCED 5A, 6           NaN  Native   -0.23             6.0    6.0                 7.0    401.2100    533.2684   499.6643  8.4871  3405.109391  4525.902238  4240.700881           True            True
3          3  Albania  Non-OECD     4  Female      Yes      Yes        ISCED 3B, C        ISCED 5A, 6        ISCED 5A, 6           NaN  Native   -1.17             2.0    2.0                 0.0    547.3630    412.2215   438.6796  8.4871  4645.524517  3498.565093  3723.117633           True            True
4          4  Albania  Non-OECD     5  Female      Yes      Yes               None  ISCED 3A, ISCED 4  ISCED 3A, ISCED 4           NaN  Native   -1.17             NaN    NaN                 NaN    311.7707    381.9209   361.5628  8.4871  2646.029108  3241.400870  3068.619640           True            True

In [5]:
data = pd.read_csv("data.csv")

In [26]:
data.rename(columns={"Unnamed: 0": 'record_id'}, inplace=True)

In [162]:
list(data)

['record_id',
 'country',
 'OECD',
 'STID',
 'gender',
 'H_mother',
 'H_father',
 'ed_mother',
 'ed_father',
 'highest_edu',
 'highest_occu',
 'IMMIG',
 'WEALTH',
 'guided_omework',
 'tutor',
 'commercial_company',
 'read_score',
 'math_score',
 'sci_score',
 'WEIGHT',
 'readscore',
 'mathscore',
 'sciscore',
 'parent_athome',
 'sibling_athome']

In [163]:
data = data.drop(columns=['readscore', 'mathscore', 'sciscore'])

In [160]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data.loc[x.index, "WEIGHT"])

# creat a GroupBy
g = data.groupby(['country'])

country_scores = g[['read_score', 'math_score', 'sci_score']].agg(wm)
country_scores['average_score'] = country_scores.mean(numeric_only=True, axis=1)

                          read_score  math_score   sci_score  average_score
country
Albania                   394.355724  394.633657  397.526623     395.505335
Argentina                 396.120641  388.497144  405.520516     396.712767
Australia                 511.730340  503.824073  521.021670     512.192028
Austria                   489.058999  505.618505  504.915319     499.864274
Belgium                   509.108529  514.961445  505.582224     509.884066
Brazil                    406.380191  388.479296  401.626365     398.828617
Bulgaria                  436.656390  438.444905  446.487741     440.529679
...                              ...         ...         ...            ...
Tunisia                   404.177728  387.637954  397.751528     396.522403
Turkey                    475.013729  447.398909  463.127168     461.846602
United Arab Emirates      441.521632  433.874811  448.569731     441.322058
United Kingdom            499.722660  493.972061  514.461308     502.718676
United States of America  497.020097  480.715365  497.194147     491.643203
Uruguay                   411.645412  409.094722  416.208583     412.316239
Vietnam                   508.166422  511.185478  528.485626     515.945842

[64 rows x 4 columns]

In [167]:
country_scores.to_csv('country_scores.csv')

In [43]:
cond_sibling = data['H_brothers'].isin(["Yes"]) | data['H_sisters'].isin(["Yes"])
cond_parent = data['H_mother'].isin(["Yes"]) | data['H_father'].isin(["Yes"])

In [49]:
data['parent_athome'] = cond_parent
data['sibling_athome'] = cond_sibling

In [174]:
data.rename(columns={"guided_omework": 'guided_homework'}, inplace=True)

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478413 entries, 0 to 485489
Data columns (total 22 columns):
record_id             478413 non-null int64
country               478413 non-null object
OECD                  478413 non-null object
STID                  478413 non-null int64
gender                478413 non-null object
H_mother              453716 non-null object
H_father              434625 non-null object
ed_mother             460185 non-null object
ed_father             446469 non-null object
highest_edu           466140 non-null object
highest_occu          443896 non-null float64
IMMIG                 464877 non-null object
WEALTH                472545 non-null float64
guided_homework       265532 non-null float64
tutor                 279387 non-null float64
commercial_company    275245 non-null float64
read_score            478413 non-null float64
math_score            478413 non-null float64
sci_score             478413 non-null float64
WEIGHT                478413 non-null float64
parent_athome         478413 non-null bool
sibling_athome        478413 non-null bool
dtypes: bool(2), float64(9), int64(2), object(9)
memory usage: 77.6+ MB

In [220]:
data["total_extra_support"] = data['tutor'] + data['guided_homework'] + data['commercial_company']

In [222]:
data["total_extra_support"].describe()

count    244902.000000
mean          3.168647
std           4.896479
min           0.000000
25%           0.000000
50%           2.000000
75%           4.000000
max          90.000000
Name: total_extra_support, dtype: float64

In [230]:
pd.cut(data["total_extra_support"], [0,2,5,10,90], right= False, include_lowest=False, labels=["very_low", "low",
                                                                                               "medium", "high"])

0            NaN
1            NaN
2           high
3            low
4            NaN
5           high
6         medium
           ...
485483      high
485484       NaN
485485       NaN
485486       NaN
485487       NaN
485488       low
485489       NaN
Name: total_extra_support, Length: 478413, dtype: category
Categories (4, object): [very_low < low < medium < high]

In [231]:
new_data = data.copy()

In [234]:
cols_with_missing = (col for col in new_data.columns 
                                 if new_data[col].isnull().any())

In [235]:
cols_with_missing

In [236]:
reduced_X_train = new_data.drop(cols_with_missing, axis=1)

In [237]:
reduced_X_train

        record_id  country      OECD  STID  gender  read_score  math_score  sci_score   WEIGHT  parent_athome  sibling_athome
0               0  Albania  Non-OECD     1  Female    249.5762    406.8469   341.7009   8.9096           True            True
1               1  Albania  Non-OECD     2  Female    406.2936    486.1427   548.9929   8.9096           True            True
2               2  Albania  Non-OECD     3  Female    401.2100    533.2684   499.6643   8.4871           True            True
3               3  Albania  Non-OECD     4  Female    547.3630    412.2215   438.6796   8.4871           True            True
4               4  Albania  Non-OECD     5  Female    311.7707    381.9209   361.5628   8.4871           True            True
5               5  Albania  Non-OECD     6  Female    378.2544    396.3312   384.3156   8.4871           True            True
6               6  Albania  Non-OECD     7  Female    373.2503    438.0823   508.1499   8.9096           True            True
...           ...      ...       ...   ...     ...         ...         ...        ...      ...            ...             ...
485483     485483  Vietnam  Non-OECD  4953  Female    482.3090    526.1022   533.4204  62.4825           True            True
485484     485484  Vietnam  Non-OECD  4954    Male    433.8340    500.4752   480.6416  65.7647           True            True
485485     485485  Vietnam  Non-OECD  4955  Female    460.2272    477.1849   559.8098  62.4825           True            True
485486     485486  Vietnam  Non-OECD  4956    Male    490.9325    518.9360   538.7355  65.7647           True            True
485487     485487  Vietnam  Non-OECD  4957    Male    462.6239    475.2376   536.8706  65.7647           True            True
485488     485488  Vietnam  Non-OECD  4958    Male    505.2873    550.9503   511.0407  65.7647           True            True
485489     485489  Vietnam  Non-OECD  4959  Female    532.3506    470.0187   530.6229  62.4825           True            True

[478413 rows x 11 columns]

In [239]:
new_data.country.cat.categories

AttributeError: Can only use .cat accessor with a 'category' dtype

In [176]:
data.to_csv("data.csv")

In [240]:
pd.notnull(data.total_extra_support)

0         False
1         False
2          True
3          True
4         False
5          True
6          True
          ...
485483     True
485484    False
485485    False
485486    False
485487    False
485488     True
485489    False
Name: total_extra_support, Length: 478413, dtype: bool

In [ ]:
wm = lambda x: mean(x=data.loc[x.index, "WEIGHT"])

# creat a GroupBy
g = data.groupby(['country'])

country_scores = g[['read_score', 'math_score', 'sci_score']].agg(wm)
country_scores['average_score'] = country_scores.mean(numeric_only=True, axis=1)

In [194]:
# creat a GroupBy
g = data.groupby(['country'])

country_academic_support = g[['tutor', 'guided_homework', 'commercial_company']].mean().dropna()
country_academic_support['academic_support'] = country_academic_support.sum(numeric_only=True, axis=1)

In [210]:
sum(data['tutor']!=0 )

290176

In [196]:
country_academic_support.to_csv('country_academic_support.csv')